@font-face {
    font-family: 'RF Dewi';
    src: local('RF Dewi Ultrabold'), local('RF-Dewi-Ultrabold'),
        url('RFDewi-Ultrabold.woff2') format('woff2'),
        url('RFDewi-Ultrabold.woff') format('woff'),
        url('RFDewi-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }